body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}

#wordcloudDiv {
    z-index: 1001;
    width: 500px;
    height: 500px;
    top: 200px; 
    left: 30px;
    position:absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
}

/*Leaflet*/
.leaflet-control-zoom { position: absolute; top: 100px }
.leaflet-control-scale { margin-bottom: 0 !important; }
.leaflet-control-attribution { margin-bottom: 0 !important; }

/*Custom Bootstap CSS for Blue and Dark Green Theme*/
    .navbar-dark .navbar-nav .nav-link {
        color: #ffffff; /* White text color for links */
        font-size: 1.2rem; /* Increase text size */
        padding: 10px 15px; /* Add padding for better spacing */
        transition: color 0.3s ease, background-color 0.3s ease;
    }
    .navbar-dark .navbar-nav .nav-link:hover {
        background-color: #11656A; /* Dark Green on hover */
        color: #ffffff; /* Keep text white */
        text-decoration: none; /* Remove underline on hover */
        border-radius: 5px; /* Rounded corners for hover */
    }
    .navbar-dark .navbar-nav .nav-link.active {
        color: #ffd700; /* Gold color for active link */
        background-color: #11656A; /* Slightly darker green for active state */
    }
    /* Optional: Accessible Focus Style */
    .navbar-dark .navbar-nav .nav-link:focus {
        outline: 3px solid #ffd700; /* Gold outline for focus state */
        outline-offset: 2px;
    }
    /* Make the logo stand out with a white background */
    .navbar-brand .logo {
        background-color: #ffffff; /* White background for the logo box */
        border: 3px solid #ffffff; /* White border around the logo */
        border-radius: 5px; /* Rounded corners */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
        padding: 5px; /* Padding around the image */
    }

/*OS attribution*/
.os-api-branding.logo {bottom:50px;}
.os-api-branding.copyright {bottom:20px;}